<script id="vue-modal" type="text/x-template">
    <div class="Modal">
        <div class="Modal__Wrapper">
            <div class="Modal__Container">
                <slot name="header">
                    <div
                            class="Modal__Header"
                            :class="'--'+titleStyle"
                            v-if="titleText"
                            v-html="titleText"></div>
                </slot>
                <div class="Modal__Body">
                    <div class="Modal__Content">
                        <slot></slot>
                    </div>
                    <slot name="footer">
                        <div class="Modal__Buttons" v-if="yesButtonText || noButtonText">
                            <button :class="yesButtonClass" v-if="yesButtonText" :disabled="!yesButtonEnabled" @click="$emit('clickyes')" v-html="yesButtonText"></button>
                            <button :class="noButtonClass" v-if="noButtonText" :disabled="!noButtonEnabled" @click="$emit('clickno')" v-html="noButtonText"></button>
                        </div>
                    </slot>
                </div>
            </div>
        </div>
    </div>
</script>